# Copy the following file and rename it to .env.local

# create a nextauth secret by running the following command
# openssl rand -base64 32
# paste the text here
NEXTAUTH_SECRET=

# Create an OAuth App on GitHub and add the client ID and secret here
# https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_URL=http://localhost:3000
